{{#if model.custom_fields.steam_uid}}
  <div class="steam-usersummary">
    <img class="steam-image-usersummary" src="https://steam.mmosvc.com/{{model.custom_fields.steam_uid}}/v1.png" />
  </div>
{{/if}}